 @media screen and (min-width: 320px){
    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cabecalho__logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;

    }

    .cabecalho__logo--img {
        width: 2.5rem;
    }

    .cabecalho__login--botao {
        width: 10rem;
        height: 3.25rem;
        font-size: 18px;
        font-weight: 600;
        color: var(--azul-links);
        border-color: var(--azul-links);
        margin-left: 0.5rem;
    }

    .cabecalho__pesquisa {
        display: flex;
        align-items: center;
    }

    .cabecalho__pesquisa--barra {
        display: none;
    }

    .cabecalho__pesquisa--botao {
        border: none;
        background: inherit;
        color: var(--preto-texto);
        margin-right: 1rem;
        font-weight: 700;
        margin-left: .25rem;
    }

    .cabecalho__pesquisa--botaoimg {
        width: 2rem;
    }
 }