@media screen and (min-width: 320px){ 
    .conteudo {
        background-color: var(--cinza-fundo);
    }

    .banner__unico {
        background: url(../img/banner/banner.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 12.25rem;
        padding-bottom: 1rem;
    }

    .caixa{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .banner__titulo{
        margin: 0.25rem 1rem;
        color: var(--branco-texto);
        font-size: 22px;
        font-weight: 700;
    }

    .banner__subtitulo {
        color: var(--branco-texto);
        font-weight: 600;
        font-size: 14px;
        margin: 0.25rem 1rem;
    }

    .banner__botao {
        margin: 0.25rem 1rem;
        background: var(--azul-links);
        color: var(--branco-texto);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        border: none;
        width: 10rem;
        height: 3.25rem;
    }

    .produtos {
        margin: 1rem 1rem;
    }

    .produtos:last-child {
        margin-bottom: 0;
    }

    .starwars__cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        margin-bottom: 0.5rem;
    }

    .starwars__titulo {
        font-weight: 700;
        font-size: 22px;
        color: var(--preto-texto);
    }

    .starwars__botao {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: var(--azul-links);
        display: flex;
        align-items: center;
    }

    .starwars__botao--img {
        margin-left: 0.5rem;
        width: 12px;
    }

    .starwars__conteudo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 2rem;
    }

    .starwars__card {
        display: grid;
        grid-template-areas:
            "card-imagem"
            "card-corpo";
        grid-template-columns: 100%;
        grid-template-rows: 8rem auto;
        margin-right: .5rem;
        margin-bottom: 1rem;
        width: calc(50%-0.5rem);
    }
    
    .card__2, .card__4 {
        margin-right: 0;
    }

    .card__5, .card__6 {
        display: none;
    }

    .starwars__card--img {
        grid-area: card-imagem;
        height: 100%;
        width: 100%;
    }

    .starwars__card--corpo {
        grid-area: card-corpo;
    }

    .starwars__produto--nome {
        font-weight: 500;
        font-size: 14px;
        color: var(--preto-texto);
        margin: .15rem 0;
    }

    .starwars__produto--valor {
        font-weight: 700;
        font-size: 16px;
        color: var(--preto-texto);
        margin: .15rem 0;
    }

    .starwars__produto--pagina {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: var(--azul-links);
        margin: .15rem 0;
    }
}