@media screen and (min-width: 320px){
    .rodape {
        background-color: var(--branco-texto);
        padding: 0;
    }

    .rodape__azul {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background-color: var(--azul-fundo);
        padding-top: 1rem;
    }
    .rodape__logo {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .rodape__logo--img {
        width: 3rem;
    }
    .rodape__lista {
        list-style: none;
        text-align: left;
        padding-left: 0;
    }
    .rodape__lista--item {
        margin-bottom: 1rem;
    }
    .rodape__item--link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: var(--preto-texto);
    }
    .rodape__contato {
        margin: 1rem 1rem;
    }
    .rodape__contato p {
        font-weight: 700;
        font-size: 18px;
        color: var(--preto-texto);
        margin-bottom: .5rem;
    }
    .rodape__contato--nome {
        width: 100%;
        height: 3rem;
        margin-bottom: 1rem;
        background-color: var(--branco-texto);
        color: var(--cinza-texto);
        font-size: 14px;
        font-weight: 400;
        border: none;
        border-radius: 4px;
    }
    .rodape__contato--mensagem {
        width: 100%;
        height: 4rem;
        color: var(--cinza-texto);
        font-size: 14px;
        font-weight: 400;
        border: none;
        border-radius: 4px;
        margin-bottom: .5rem;
    }
    .rodape__contato--botao {
        width: 50%;
        height: 2.75rem;
        border-radius: 4px;
        color: var(--branco-texto);
        background-color: var(--azul-links);
        border: none;
    }
    .rodape__branco {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .my__name {
        font-weight: 500;
        font-size: 14px;
        columns: var(--preto-texto);
    }
}

@media screen and (min-width: 768px){
    .rodape__azul {
        flex-wrap: wrap;
        height: 20rem;
        align-items: flex-start;
    }
    .rodape__logo{
        margin-left: 2rem;
    }
    .rodape__lista {
        margin-left: 2rem;
    }
    .rodape__contato p {
        margin-top: 0;
    }
    .rodape__contato {
        margin: 0 2rem 0 4rem;
    }
}

@media screen and (min-width: 768px){
    .rodape__azul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: auto;
    }
    .rodape__logo {
        grid-column: 1/2;
        margin-left: 4rem;
        margin-top: 2rem;
    }
    .rodape__lista{
        grid-column: 2/3;
    }
    .rodape__contato {
        grid-column: 3/5;
        margin: 0 4rem 0 4rem;
    }
}