.rodape {
    background-color: var(--branco-texto);
    padding: 0;
}

.rodape__azul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    background-color: var(--azul-fundo);
}

.rodape__logo {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.rodape__lista{
    list-style: none;
}

.rodape__lista--item {
    margin-bottom: 2rem;
}

.rodape__item--link {
    text-decoration: none;
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 16px;
    color: var(--preto-texto);
}

.rodape__contato  {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-top: 2rem;
}

.rodape__contato p {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;
    color: var(--preto-texto);
}

.rodape__contato--nome {
    width: 560px;
    height: 56px;
    margin-bottom: 0.5rem;
    background-color: var(--branco-texto);
    color: var(--cinza-texto);
    font-size: 12px;
    font-weight: 400;
    text-align:justify;
    border: var(--cinza-fundo);
}

.rodape__contato--mensagem {
    margin-bottom: 0.5rem;
    width: 560px;
    height: 82px;
    border: var(--cinza-fundo);
}

.rodape__contato--botao {
    width: 165px;
    height: 51px;
    color: var(--branco-texto);
    background-color: var(--azul-links);
    border: none;
    padding: 16px;
}

.rodape__branco {
    width: 100%;
    margin-left: 0;
    padding-top: 2rem;
    padding-bottom: 0;
    background-color: var(--branco-texto);
    text-align: center;
}

.my__name {
    font-weight: 500;
    font-size: 20px;
    color: var(--preto-texto);
    font-family: var(--raleway);
}

